<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
  <HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE></TITLE>
    <META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
    <META NAME="CREATED" CONTENT="0;0">
    <META NAME="CHANGED" CONTENT="0;0">
    <STYLE TYPE="text/css">
      @page { size: 8.5in 11in; margin-left: 1.18in; margin-right: 1.18in; margin-top: 0.98in; margin-bottom: 0.49in }
      P { margin-bottom: 0.08in }
    </STYLE>
  </HEAD>
  <BODY LANG="es-CO" DIR="LTR">
    <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><A NAME="_gjdgxs"></A>
    <FONT FACE="Arial, serif"><B>CONTRATO DE COLABORACIÓN EN EL
    DESARROLLO DE PROCESOS DE LIBRANZA ENTRE VICTORIA INVERSIONES S.A.S.
    Y </B></FONT><FONT FACE="Arial, serif"><B><SPAN STYLE="background: #c0c0c0">{{name}}</SPAN></B></FONT></P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">Entre
    los suscritos a saber, por una parte MAX JEFFERSON LÓPEZ BELTRÁN,
    ciudadano colombiano, mayor de edad, identificado con la cédula de
    ciudadanía número 1.023.914.453 de la ciudad de Bogotá D.C.,
    actuando en nombre y representación legal de la sociedad VICTORIA
    INVERSIONES S.A.S, debidamente registrada ante la Cámara de Comercio
    de Bogotá, identificada con el NIT número 901116431 – 9, quien en
    adelante se denominará “Avanzo” o “La Operadora”; y por la
    otra parte {{name}}, ciudadano colombiano, mayor de edad,
    identificado con cédula de ciudadanía número {{identificationId}}, de la
    ciudad de ____________, actuando en nombre y representación legal de
    la sociedad ______________, debidamente registrada ante la Cámara de
    Comercio de ____________, identificada con el NIT número
    ______________, quien en adelante se denominará “El Empleador” o
    “Entidad Pagadora”; y de manera conjunta LAS PARTES, se busca
    celebrar un contrato en consideración a los siguientes antecedentes:
    </FONT>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>ANTECEDENTES
    </B></FONT>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <OL>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Que
      La Operadora, es una sociedad debidamente registrada en el Registro
      Único Nacional de Operadores de Libranza RUNEOL, autorizada por sus
      estatutos para realizar operaciones de crédito para ser canceladas
      a través de Libranza o Descuento Directo, procedimientos que se
      encuentran regulados por la Ley 1527 de 2012, modificada por la Ley
      1902 de 2018. </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
      </P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.3in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL START=2>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Que
      La Operadora se encuentra interesada en ofrecer su línea de cupo
      rotativo de Crédito para ser pagado a través de Libranza o
      Descuento Directo a los Clientes/Beneficiarios, funcionarios del
      empleador, bajo la premisa que tales créditos serán otorgados
      exclusivamente con recursos propios de La Operadora, la cual no
      realiza ningún tipo de actividad que pueda involucrar captación de
      recursos del público.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.3in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL START=3>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Que
      El Empleador es una sociedad cuyo objeto social no le limita
      desarrollar acuerdos de colaboración con terceros aliados que
      realicen el ofrecimiento de cupos de crédito rotativo cuyos
      desembolsos sean cancelados a través de la modalidad de Libranza.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=LEFT STYLE="margin-left: 0.3in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL START=4>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Que
      El Empleador, como un beneficio para sus funcionarios, contratados a
      través de cualquiera de las clases de contrato laboral regulados
      por el Código Sustantivo de Trabajo, desea realizar un acuerdo de
      colaboración con la Operadora para que esta tenga la oportunidad de
      ofrecerles líneas de Cupo de Crédito Rotativo bajo la modalidad de
      Libranza.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">De
    esta manera, con el objeto de regular sus obligaciones y derechos,
    LAS PARTES, se regirán en sus relaciones por la buena fe en sus
    actuaciones y, en particular, por las siguientes:</FONT></P>
    <P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULAS
    </B></FONT>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLAÚSULA
    PRIMERA. DEFINICIONES. - </B></FONT><FONT FACE="Arial, serif">Las
    siguientes definiciones resultan pertinentes para el correcto
    entendimiento del presente contrato: </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Cliente/beneficiario:
    </SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Es
    la persona natural asalariada, pensionada o contratada por prestación
    de servicios que solicita el cupo rotativo de crédito ofrecido por
    La Operadora, realizando el pago de los desembolsos que se realicen a
    su favor a través de su salario, sus prestaciones sociales de
    carácter económico o su pensión, siempre que medie autorización
    para el efecto al Empleador o Entidad Pagadora.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Cupo
    de Crédito Rotativo:</SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">
    Cupo de crédito que, una vez aprobado será rotativo, esto es que se
    mantendrá disponible para ser desembolsado y transferido a favor del
    Cliente hasta completar el cupo total disponible, el cual se irá
    liberando a medida en que se realizan los pagos de los desembolsos
    solicitados.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Dato
    personal: </SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Cualquier
    información vinculada o que pueda asociarse a una o varias personas
    naturales determinadas o determinables.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Desembolso
    sobre el Cupo de Crédito Rotativo:</SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">
    Es la entrega de recursos que hace La Operadora en cada oportunidad
    que el cliente lo solicita sobre Cupo de Crédito Rotativo
    previamente aprobado.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Empleador
    o Entidad Pagadora. </SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Es
    la persona jurídica, que tiene a su cargo la obligación del pago
    del salario, cualquiera que sea la denominación de la remuneración,
    en razón de la ejecución de un trabajo o labor.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Encargado
    del tratamiento de datos personales. </SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Persona
    natural o jurídica, pública o privada, que por si misma o en asocio
    con otros, realice el tratamiento de datos personales por cuenta del
    Responsable del Tratamiento. </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Entidad
    operadora/Operadora. </SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Es
    la persona jurídica que realiza operaciones de créditos que se
    recaudan a través del mecanismo de libranza, la cual realiza tales
    operaciones disponiendo exclusivamente de sus propios recursos.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Libranza
    o descuento directo:</SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">
    Es la autorización dada por el Cliente al Empleador, para que
    realice el descuento de su salario disponible, con el objeto de que
    las sumas descontadas sean giradas a favor de la</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#4b4949"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">
    </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Entidad
    Operadora para pagar por los desembolsos realizados sobre su cupo de
    crédito objeto de Libranza.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><SPAN STYLE="background: #ffffff">
    </SPAN></SPAN></FONT></SPAN><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Responsable
    del tratamiento de datos personales. </SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Persona
    natural o jurídica, pública o privada, que por sí misma o en
    asocio con otros, decida sobre la base de datos y/o el tratamiento de
    los datos. </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">RUNEOL:
    </SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Es
    el Registro Único Nacional de Operadores de Libranza, cuyo fin
    exclusivo es el de permitir el acceso a cualquier persona que
    pretenda constatar el registro de Entidades Operadoras. </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Superintendencia
    de Sociedades: </SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">entidad
    encargada de vigilar a aquellas entidades que estén constituidas
    como sociedades comerciales, que no estén bajo la vigilancia de la
    Superintendencia Financiera de Colombia o de la Superintendencia de
    la Economía Solidaria, y que otorguen créditos con recursos propios
    o a través de mecanismos de financiamiento autorizados por la ley.
    La supervisión que ejerce la Superintendencia de Sociedades sobre
    las entidades operadoras de libranza a su cargo es de naturaleza
    subjetiva, es decir que se limita a los aspectos societarios de la
    entidad operadora y no a la actividad que desarrolla (compraventa y
    otorgamiento de créditos), salvo en lo relacionado con el
    cumplimiento de las obligaciones de información.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Tasa
    de Interés: </SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Es
    el valor que se cobra por el uso del dinero en el mercado financiero.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Tratamiento
    de datos personales: </SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Cualquier
    operación o conjunto de operaciones sobre datos personales, tales
    como la recolección, almacenamiento, uso, circulación o supresión.
    </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Usura:
    </SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Se
    considera usura recibir o cobrar, directa o indirectamente, a cambio
    de préstamo de dinero o servicios mediante sistemas de financiación
    o a plazos, utilidad o ventaja que exceda en la mitad del interés
    bancario corriente que para el periodo correspondiente estén
    cobrando los bancos, según certificación de la Superintendencia
    Financiera, cualquiera sea la forma utilizada para hacer constar la
    operación, ocultarla o disimularla.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    SEGUNDA. OBJETO DEL CONTRATO. - </B></FONT><FONT FACE="Arial, serif">El
    presente contrato buscar regular las condiciones para que El
    Empleador: a) Dé a conocer a los Clientes o Beneficiarios, los
    servicios de crédito prestados por La Operadora, a través de
    modalidad de Libranza. b) Otorgue la oportunidad a La Operadora de
    ofrecer directamente sus servicios; c) Comparta la información de
    los Clientes o Beneficiarios con la Operadora de manera que esta
    pueda realizar directamente el ofrecimiento de sus servicios a través
    de diversos canales de comunicación.  </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    TERCERA. OBLIGACIONES DE LAS PARTES</B></FONT><FONT FACE="Arial, serif">.
    - Son obligaciones de las partes en el desarrollo del presente
    Contrato, las siguientes: </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%">     
    <FONT FACE="Arial, serif"><B>3.1. DE LA OPERADORA: </B></FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Estar
      debidamente registrada en el Registro Único Nacional de Operadores
      de Libranza – RUNEOL y mantener activo y actualizado dicho
      registro durante la vigencia del presente contrato. </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
      </P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a START=2>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Mantener
      la tasa de interés ofrecida a los Clientes por debajo de la tasa
      máxima permitida por la Ley. </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
      </P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <OL TYPE=a START=3>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Mantener
      disponibles los recursos para atender las solicitudes de Desembolso
      que sean solicitados por los Clientes.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <OL TYPE=a START=4>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Mantener
      a disposición de los Clientes el extracto periódico de su crédito
      con una descripción detallada del mismo, indicando un número de
      teléfono y dirección de correo electrónico.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a START=5>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Realizar
      la consignación de cada uno de los Desembolsos que se realicen
      sobre los Cupos de Crédito Rotativo aprobados a los Clientes de
      acuerdo con los términos que serán establecidos en el Contrato de
      Cupo de Crédito Rotativo con Descuento por Libranza. </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
      </P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <OL TYPE=a START=6>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Reportar
      la suscripción de la Libranza a los bancos de datos de información
      financiera, contando con las autorizaciones exigidas por la Ley 1266
      de 2008 para el efecto. </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
      </P>
    </OL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a START=7>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Analizar,
      de acuerdo con la información aportada por El Empleador, la
      capacidad de pago del empleado, para así determinar cuál puede ser
      el cupo de crédito otorgado a cada uno, así como el monto de cada
      desembolso solicitado por estos.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a START=8>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Informar
      a El Empleador, el monto de la cuota mensual que debe ser descontada
      del salario, honorarios y/o pensión de cada empleado, para que la
      misma pueda ser descontada.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a START=9>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Tratar
      la información recibida del empleador únicamente para las
      finalidades comerciales y de ofrecimiento de sus servicios
      establecidas en el presente contrato.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>3.2.
    DEL EMPLEADOR: </B></FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Dar
      a conocer a sus funcionarios, a través de los diferentes canales de
      comunicación internos la posibilidad de adquirir los servicios de
      la Operadora con la periodicidad y la manera en que LAS PARTES
      acuerden.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a START=2>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">En
      caso de tener autorizaciones para el efecto, transferir a La
      Operadora los datos de los empleados que, de acuerdo con su salario
      y los descuentos que se presenten sobre el mismo, estén en
      capacidad de adquirir un crédito a través de la modalidad de
      Libranza permitiéndole contactarlos para el ofrecimiento de sus
      servicios.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <OL TYPE=a START=3>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Contar
      con la autorización expresa del empleado que acepte suscribir el
      Contrato de Cupo de Crédito rotativo con Descuento por Libranza de
      efectuar el descuento directo de su salario de acuerdo con lo
      establecido por la Ley 1527 de 2012. </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
      </P>
    </OL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a START=4>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Asegurarse
      de que la libranza se efectúe siempre y cuando el empleado no
      reciba menos del cincuenta por ciento (50%) del neto de su salario,
      después de los descuentos de Ley. </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
      </P>
    </OL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a START=5>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Deducir
      y retener las sumas de dinero correspondientes a las cuotas
      mensuales a cargo de los empleados, previamente informadas por La
      Operadora, por concepto del crédito prestado a través de Libranza
      para luego girarlos a orden de La Operadora a la cuenta número
      </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #c0c0c0">___________</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">
      del banco </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #c0c0c0">__________</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">.
      </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
      </P>
    </OL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a START=6>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Efectuar
      el traslado de las cuotas mensuales mencionadas en el literal
      anterior, máximo dentro de los tres (3) días hábiles siguientes
      de haber efectuado el pago de nómina a su empleado.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a START=7>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Verificar
      que La Operadora se encuentre inscrita en el Registro Único
      Nacional de Operadores de Libranza.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>PARÁGRAFO
    PRIMERO. -</B></FONT><FONT FACE="Arial, serif"> Por el ofrecimiento
    de este servicio y su ejecución no podrá se cobrada o descontada
    suma alguna a los Beneficiarios a título de comisión
    administración, administración o cualquier otro, de acuerdo con lo
    establecido en el artículo 4 de la Ley 1527 de 2012. 	</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>PARÁGRAFO
    SEGUNDO. -</B></FONT><FONT FACE="Arial, serif"> La existencia de este
    Acuerdo y la promoción de los servicios de la Operadora no podrá
    limitar en ningún caso el derecho del Beneficiario de escoger libre
    y gratuitamente cualquier entidad Operadora para efectuar operaciones
    de Libranza, así como aquella a través de la cual se realiza el
    pago de su nómina, honorarios o pensión.</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>PARÁGRAFO
    TERCERO. -</B></FONT><FONT FACE="Arial, serif"> En caso de no atender
    la orden de descuento estipulada en esta cláusula, el Empleador será
    responsable por los valores dejados de descontar al empleado, así
    como, por los perjuicios que le sean imputables por su descuido.   </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>PARÁGRAFO
    CUARTO. - </B></FONT><FONT FACE="Arial, serif">La existencia de este
    Contrato y su ejecución no significará para ninguna de LAS PARTES
    erogación o pago alguno derivado del cumplimiento de sus
    obligaciones</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    CUARTA. CONDICIONES DE LA TRANSFERENCIA DE DATOS. - </B></FONT><FONT FACE="Arial, serif">En
    caso de realizarse una transferencia de información por parte de El
    Empleador a La Operadora, la misma deberá realizarse cumpliendo las
    siguientes condiciones:</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">El
      empleador sólo transferirá los datos de los funcionarios de los
      que exista autorización para compartirlos y que, luego de un
      estudio sobre su salario y capacidad de endeudamiento, considere que
      son aptos para ser Beneficiarios de los servicios de La Operadora.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 107%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a START=2>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">El
      Empleador transferirá las bases de datos de sus empleados a El
      Operador con una periodicidad mínima de dos (2) meses, o la que
      acuerden las partes. </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
      </P>
    </OL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 107%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a START=3>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">En
      las bases de datos transferidas El Empleador deberá incluir la
      información de sus empleados correspondiente a datos personales,
      monto del salario, y capacidad actual de endeudamiento. </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
      </P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <OL TYPE=a START=4>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">La
      información se hará de forma segura a través de correo
      electrónico encriptado que será enviado desde la siguiente
      dirección </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #c0c0c0">___________________</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">
      con destino a la siguiente dirección de La Operadora
      </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #c0c0c0">________________________</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    QUINTA. CONDICIONES DEL DESCUENTO DIRECTO. - </B></FONT><FONT FACE="Arial, serif">De
    conformidad con lo establecido en la Ley 1527 de 2012, el descuento
    directo realizado por El Empleador, tendrá las siguientes
    condiciones: </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.75in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">El
      Empleador estará obligado a deducir, retener y girar las sumas de
      dinero que sus empleados adeuden a La Operadora, para ser
      depositados a órdenes de ésta, de acuerdo con lo establecido en la
      Cláusula 3 de este contrato, previo consentimiento expreso del
      empleado.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.75in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a START=2>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">En
      virtud de este contrato y de lo establecido en la ley, en caso de
      terminación del presente Acuerdo, por cualquiera de las causales
      previstas en la Cláusula 7 del mismo, El Empleador estará en la
      obligación de seguir deduciendo, reteniendo y girando a orden de La
      Operadora, las sumas de dinero de los Beneficiarios que a ese
      momento tengan obligaciones vigentes y pendientes con ésta, hasta
      la completa cancelación de las acreencias pendientes de pago.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    SEXTA. VIGENCIA. - </B></FONT><FONT FACE="Arial, serif">El presente
    contrato tendrá una vigencia de un (1) año, contado a partir de su
    firma, el cual será renovado automáticamente por periodos iguales,
    a menos que cualquiera de LAS PARTES notifique a la otra su intención
    de no renovarlo con al menos sesenta (60) días de antelación a la
    fecha prevista de terminación del periodo de vigencia en curso. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    SÉPTIMA. CAUSALES DE TERMINACIÓN. - </B></FONT><FONT FACE="Arial, serif">Serán
    causales de terminación por cualquiera de Las Partes, las
    siguientes:</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <OL TYPE=a>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">El
      incumplimiento de cualquiera de las obligaciones contenidas en este
      Contrato, en particular las indicadas en la Cláusula Segunda del
      mismo.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <OL TYPE=a START=2>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">La
      liquidación y extinción de la personería jurídica de cualquiera
      de Las Partes. </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
      </P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <OL TYPE=a START=3>
      <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Por
      mutuo acuerdo entre las partes.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    </OL>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    OCTAVA. CESIÓN. - </B></FONT><FONT FACE="Arial, serif">El Empleador
    podrá ceder este contrato previa autorización escrita de La
    Operadora. La Operadora se reserva el derecho de aceptar o no la
    cesión, sin que haya necesidad de motivar su decisión.</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">CLÁUSULA
    NOVENA. CONFIDENCIALIDAD. -</SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">
    Cualquier información entregada por LAS PARTES, de naturaleza
    comercial, técnica, financiera, tangible, intangible, verbal o
    escrita, tendrá carácter estrictamente confidencial y no podrá ser
    divulgada a ningún tercero por cualquier medio verbal, escrito,
    tangible o intangible. Cada una de las partes, incluyendo a sus
    asociados y colaboradores, o cualquier tercero que por el desarrollo
    de este contrato pudiere conocerla, se obligará a mantener la
    confidencialidad de esta información. La obligación de
    confidencialidad de LAS PARTES cesará: (i) cuando la información
    recibida sea o se vuelva de conocimiento público por una causa no
    imputable a la parte receptora de la información; y, (ii) cuando las
    autoridades competentes, en ejercicio de sus funciones legales,
    exijan tal información. </SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    DÉCIMA. INDEPENDENCIA DE LAS PARTES</B></FONT><SPAN STYLE="font-variant: small-caps"><FONT FACE="Arial, serif"><B>.
    -</B></FONT></SPAN><FONT FACE="Arial, serif"> El presente Contrato no
    creará entre LAS PARTES ni respecto de los empleados, directivos o
    contratistas de ellas una relación laboral y, por lo tanto, ninguna
    podrá manifestar expresamente o permitir que se implique que entre
    ellas existe una relación diferente a la de contratistas
    independientes, rigiéndose por las normas del Código de Comercio en
    cuanto a los efectos de este Acuerdo, actuando con plena autonomía
    administrativa y financiera. Es decir, que ninguna de LAS PARTES
    tiene ningún vínculo laboral con funcionarios o los beneficiarios
    de la otra Parte. Así las cosas, ninguna de LAS PARTES podrá
    obligar o contraer obligaciones a nombre o por cuenta de la otra
    Parte. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    DÉCIMA PRIMERA. NO EXCLUSIVIDAD. - </B></FONT><FONT FACE="Arial, serif">El
    presente contrato no implica, bajo ninguna circunstancia, una
    obligación de exclusividad entre LAS PARTES, entendiendo que La
    Operadora podrá firmar este mismo acuerdo con otros empleadores, y
    El Empleador no podrá exigir a sus empleados que adquieran el cupo
    de crédito ofrecido por La Operadora. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    DÉCIMA SEGUNDA. COSTOS Y GASTOS. - </B></FONT><FONT FACE="Arial, serif">Cada
    una de Las Partes asumirá sus propios gastos y costos relacionados
    con la ejecución del presente Contrato, incluyendo, pero no limitado
    a los impuestos y demás gravámenes que sean aplicables de
    conformidad con la ley aplicable.</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    DÉCIMA TERCERA. LAVADO DE ACTIVOS Y FINANCIACIÓN DEL TERRORISMO. -
    </B></FONT><FONT FACE="Arial, serif">LAS PARTES manifiestan que los
    recursos que componen su patrimonio no provienen de lavado de
    activos, financiación del terrorismo, narcotráfico, captación
    ilegal de dineros y en general de cualquier actividad ilícita; de
    igual manera manifiestan que los recursos recibidos en desarrollo de
    sus negocios, no serán destinados a ninguna de las actividades antes
    descritas. Para efectos de lo anterior, cada Parte autoriza
    expresamente a la otra, para que consulte los listados, sistemas de
    información y bases de datos a los que haya lugar y, de encontrar
    algún reporte, la parte afectada procederá a adelantar las acciones
    contractuales y/o legales que correspondan. LAS PARTES se obligan a
    realizar todas las actividades encaminadas a asegurar que todos sus
    socios, administradores, clientes, proveedores, empleados, etc., y
    los recursos de estos, no se encuentren relacionados o provengan, de
    actividades ilícitas, particularmente, de las anteriormente
    enunciadas.</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    DÉCIMA CUARTA. INDEMNIDAD.- </B></FONT><FONT FACE="Arial, serif">Cada
    una de LAS PARTES mantendrá indemne a la otra contra toda
    reclamación, demanda o acción legal que llegue a ser interpuesta
    por razones imputables a su culpa o dolo, o al personal con el que
    presta sus servicios o con respecto a servicios prestados por ella,
    en el desarrollo del objeto del presente Contrato, incluidos los
    honorarios de abogados, gastos del proceso y cualquier eventual
    condena o sanción que se llegue producir en contra de la parte no
    culpable por dichos conceptos.</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    DÉCIMA QUINTA. DIVISIBILIDAD. - </B></FONT><FONT FACE="Arial, serif">Si
    cualquiera de las cláusulas o alguna parte de este Contrato es
    declarado nulo o ineficaz, las otras partes continuarán vigentes. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    DÉCIMA SEXTA. LEY APLICABLE. - </B></FONT><FONT FACE="Arial, serif">El
    presente contrato será ejecutado en el territorio colombiano, por lo
    tanto, será regulado por las Leyes de la República de Colombia. </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.03in; text-indent: -0.49in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 100%; page-break-inside: auto; widows: 0; orphans: 0; text-decoration: none; page-break-after: auto">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.03in; text-indent: -0.49in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 0; orphans: 0; page-break-after: auto">
    <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">CLAÚSULA
    DÉCIMA SÉPTIMA. SOLUCIÓN DE CONFLICTOS. -</SPAN></B></SPAN></FONT></FONT></SPAN></FONT></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">
    En caso de que surjan diferencias entre las partes por razón o con
    ocasión del presente negocio jurídico, serán resueltas por ellas
    mediante negociación directa o mediación. Para tal efecto, las
    partes dispondrán de treinta (30) días hábiles contados a partir
    de la fecha en que cualquiera de ellas requiera a la otra, por
    escrito en tal sentido, término éste que podrá ser prorrogado de
    común acuerdo, vencido el cual las partes quedan en plena libertad
    de acudir a la jurisdicción ordinaria.</SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    DÉCIMA OCTAVA. NOTIFICACIONES. -</B></FONT><FONT FACE="Arial, serif">
    Las Partes para los fines de este contrato recibirán notificaciones
    en las siguientes direcciones:</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">LA
    OPERADORA</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><U><B>Dirección:
    </B></U></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN STYLE="text-decoration: none"><SPAN STYLE="background: #c0c0c0">____________</SPAN></SPAN></FONT></FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><U><B>Teléfono:
    </B></U></FONT><FONT FACE="Arial, serif"><SPAN STYLE="background: #c0c0c0">_____________</SPAN></FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><U><B>Correo
    electrónico:</B></U></FONT><FONT FACE="Arial, serif"> _</FONT><FONT FACE="Arial, serif"><SPAN STYLE="background: #c0c0c0">____________</SPAN></FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">EL
    EMPLEADOR	</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Arial, serif"><U><B>Dirección:
    </B></U></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><SPAN STYLE="text-decoration: none"><SPAN STYLE="background: #c0c0c0">____________</SPAN></SPAN></FONT></FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><U><B>Teléfono:
    </B></U></FONT><FONT FACE="Arial, serif"><SPAN STYLE="background: #c0c0c0">_____________</SPAN></FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><U><B>Correo
    electrónico:</B></U></FONT><FONT FACE="Arial, serif"> _</FONT><FONT FACE="Arial, serif"><SPAN STYLE="background: #c0c0c0">____________</SPAN></FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">Toda
    notificación, petición y otras comunicaciones serán consideradas
    recibidas en la fecha de recibo por el destinatario si es recibida
    antes de las cinco de la tarde (5:00 p.m.) en el lugar de recibo y
    dicho día es un Día Hábil en el lugar de recibo. De otra manera,
    cualquier notificación, petición o comunicación será considerada
    como recibida hasta el Día Hábil inmediatamente siguiente en el
    lugar de recibo. Toda modificación en cualquiera de los datos de
    notificación deberá ser notificada a la otra Parte, hasta tanto
    esto no suceda, toda comunicación enviada a los datos presentados en
    este documento se considerará válidamente recibida por parte de la
    parte remitente.</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>CLÁUSULA
    DÉCIMA NOVENA.</B></FONT><FONT FACE="Arial, serif"> </FONT><FONT FACE="Arial, serif"><B>DOCUMENTOS
    DEL CONTRATO. – </B></FONT><FONT FACE="Arial, serif">Los siguientes
    documentos forman parte integral del presente contrato:</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">Anexo
    No. 1. Certificado de existencia y representación legal de las
    Partes.</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">Anexo
    No. 2. Condiciones operativas del servicio.</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">En
    constancia de lo anterior, se firma en la ciudad de </FONT><FONT FACE="Arial, serif"><SPAN STYLE="background: #c0c0c0">______________</SPAN></FONT><FONT FACE="Arial, serif">,
    a los </FONT><FONT FACE="Arial, serif"><SPAN STYLE="background: #c0c0c0">_____________</SPAN></FONT><FONT FACE="Arial, serif">
    días, del mes de </FONT><FONT FACE="Arial, serif"><SPAN STYLE="background: #c0c0c0">___________________</SPAN></FONT><FONT FACE="Arial, serif">,
    del año dos mil diecinueve (2019). </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">Por
    una parte,</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>________________________________</B></FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>MAX
    JEFFERSON LÓPEZ BELTRÁN</B></FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">C.C.1.023.914.453</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>Representante
    Legal Victoria Inversiones S.A.S</B></FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">Por
    la otra, </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif"><B>___________________________________</B></FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
    </P>
    <DIV TYPE=FOOTER>
      <P ALIGN=RIGHT STYLE="margin-top: 0.45in; margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT FACE="Calibri, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">Página
      <SDFIELD TYPE=PAGE SUBTYPE=RANDOM FORMAT=PAGE>9</SDFIELD> de <SDFIELD TYPE=DOCSTAT SUBTYPE=PAGE FORMAT=PAGE>9</SDFIELD></SPAN></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></P>
      <P ALIGN=LEFT STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-after: auto">
      <BR>
      </P>
    </DIV>
  </BODY>
</HTML>