<style type="text/css">
  .header-title {
    text-align: center;
  }
  .body-content{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
  }
</style>

<html>
  <head>
    <meta chraset="UTF-8">
      <title>
        Contrato de libranza
      </title>
  </head>
  <body>
    <div>
      <div class="header-title">
        <h2 class="confirmation-title">
          Contrato de libranza
        </h2>
      </div>
      <br/>
      <div class="body-content">
        <h4 class="body-text">
          Entre los suscritos a saber, por una parte MAX JEFFERSON LÓPEZ BELTRÁN, ciudadano colombiano, mayor de edad, identificado con la cédula de ciudadanía número 1.023.914.453 de la ciudad de
          Bogotá D.C., actuando en nombre y representación legal de la sociedad VICTORIA INVERSIONES S.A.S, debidamente registrada ante la Cámara de Comercio de Bogotá, identificada con el NIT
          número 901116431 – 9, quien en adelante se denominará “El EMPLEADOR”; y por la otra parte {{user.name}}, ciudadano colombiano, mayor de edad, identificado con cédula de
          ciudadanía número {{user.identificationId}}, actuando en nombre propio, quien en adelante se denominará “El TRABAJADOR”, y de manera conjunta LAS PARTES,
          hemos acordado celebrar el presente CONTRATO LABORAL A TÉRMINO INDEFINIDO, el cual se regirá por las siguientes.
        </h4>
      </div>

      <br/>
      
      <div class="footer-confirmation">
        <h4 class="footer-title">
          Atentamente, {{user.name}}.
        </h4>
      </div>

    </div>

  </body>

</html>
