<STYLE TYPE="text/css">

	@page { size: 8.5in 11in; margin-left: 1.18in; margin-right: 1.18in; margin-top: 0.98in; margin-bottom: 0.98in }
	P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
</STYLE>


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Ximena Gonzalez  - Mercadeo">
	<META NAME="CREATED" CONTENT="20200103;220700000000000">
	<META NAME="CHANGEDBY" CONTENT="usuario">
	<META NAME="CHANGED" CONTENT="20200103;220700000000000">
	<META NAME="AppVersion" CONTENT="15.0000">
	<META NAME="Company" CONTENT="HP">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
</HEAD>
<BODY LANG="es-CO" DIR="LTR">
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2><B>AUTORIZACIÓN DE DESCUENTO </B></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; line-height: 100%">
<BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2><B>REF: CRÉDITO AVANZO
No.{{name}} {{lastName}}</B></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2><B>VALOR DEL CREDITO:
{{identificationId}}</B></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; line-height: 100%">
<BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2>El(la) abajo firmante
identificado(a) como aparece al pie la firma en mi calidad de
funcionario con plena capacidad para el efecto, autorizo
irrevocablemente a la pagaduría de la empresa ____________
identificada con NIT ___________, para que deduzca de mi salario
ordinario, y/o compensaciones laborales a mi nombre, los valores
correspondientes al pago de la obligación por mi adquirida con
VICTORIA INVERSIONES S.A.S. (AVANZO) entidad identificada  con NIT
901116431-9, y/o quien represente sus derechos de acuerdo con los
siguientes montos _______________________($__________________)  de
pesos colombianos en _____________ (_____) cuotas mensuales, cada una
por un valor de _______________ ($______________________________)
pesos colombianos. </FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%"><A NAME="_GoBack"></A>
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2>Dichas deducciones deberán
ser giradas a VICTORIA INVERSIONES S.A.S. con NIT 901116431-9 y/o
quien represente sus derechos, al número de cuenta de ahorro (  ) /
cuenta corriente (  ) No. ____________ del Banco ______________, a
más tardar el día ________ de cada mes a partir del mes de
________________ del año _____ hasta completar el pago total de la
obligación. </FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2>En el evento de causarse
intereses de mora autorizo también la retención y entrega a
VICTORIA INVERSIONES S.A.S. y/o quien represente sus derechos, de los
montos correspondiente hasta por el valor de los mismos, según lo
certifique dicha sociedad. Autorizo igualmente entregar a VICTORIA
INVERSIONES S.A.S. y/o quien represente sus derechos el valor de las
cuotas que deban pagársele durante el tiempo que permanezca en
vacaciones, licencias e incapacidades, descontándolas del monto que
se cause a mi favor. </FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2>En el caso de que llegare a
producirse mi desvinculación laboral de la empresa durante el plazo
de la obligación, autorizo irrevocablemente al pagador de esta
entidad, para que deduzca de mi salario, bonificaciones, honorarios,
comisiones, mesada mensual u otras remuneraciones existentes a mi
favor los montos que resulten necesarios para cubrir el saldo de
cualquier rubro adeudado a VICTORIA INVERSIONES S.A.S. y/o quien
represente sus derechos, esto soportado en el código sustantivo del
Trabajo y en la Ley 1527 de 2012. </FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2>Si ocurriera un cambio de
empleador, autorizo a mi actual empleador a informar de dicha
situación a VICTORIA INVERSIONES S.A.S. para dar cumplimiento al
Art. 7° de la Ley 1527 de 2012. En caso de que la empresa a la cual
me encuentro vinculado(a) por cualquier motivo no descuente y/o no
pague oportunamente la(s) cuota(s) a VICTORIA INVERSIONES S.A.S. y/o
quien represente sus derechos, no quedaré exonerado de la
responsabilidad de pagar el crédito en la oportunidad acordada y los
eventuales intereses de mora. </FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2>Si por cualquier causa
VICTORIA INVERSIONES S.A.S. realiza a mi nombre un desembolso
duplicado y/o por una suma mayor a la solicitada y aprobada, autorizo
a mi actual empleador o al pagador de la entidad para que el
excedente recibido sea descontado de mi salario, bonificaciones,
honorarios, comisiones, mesada mensual u otras remuneraciones
existentes a mi favor hasta cubrir el valor total desembolsado, que
voluntariamente no devolviese a VICTORIA INVERSIONES S.A.S. previa
solicitud por escrito. </FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2>En el evento en que el
Empleador, incumpla las obligaciones y autorizaciones aquí
consagradas, se hará solidariamente responsable por el pago de la
obligación adquirida por mi como beneficiario(a) del crédito de
acuerdo al parágrafo 1° del Art. 6° de la Ley 1527 de 2012.  </FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2>Así mismo el empleador se
compromete a que como empleado(a) no reciba menos de cincuenta por
ciento (50%) del neto de mi salario o pensión, después de los
descuentos de Ley.</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2>Manifiesto que el presente
documento presta mérito ejecutivo, por contener una obligación
expresa, clara y exigible a mi cargo, en consecuencia, VICTORIA
INVERSIONES S.A.S. podrá exigir su cumplimiento por la vía
judicial. </FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2><B>Instructivo de pago:</B></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<OL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
	<FONT FACE="Arial, serif"><FONT SIZE=2>En caso de Liquidación
	definitiva de salarios, aportes y/o compensaciones se debe proceder
	de la siguiente manera:  a) Comuníquese al teléfono XXXXXXXX o
	correo electrónico XXXXXXXXXX de VICTORIA INVERSIONES S.A.S., donde
	le informarán el saldo total de la deuda y los canales de pago
	dispuestos para su cancelación. b) Retenga dicho saldo de mi
	salario, bonificaciones, honorarios, comisiones u otras
	remuneraciones. c) El saldo retenido debe ser pagado a través de
	los canales de pago dispuestos por VICTORIA INVERSIONES S.A.S,
	especificando el número de cedula del trabajador y el No. de la
	obligación que se está cancelando (No. de Crédito AVANZO referido
	en este documento). d) Una vez realizado el descuento de la
	liquidación definitiva y de presentarse saldo pendiente por
	cancelar de mi crédito autorizo a VICTORIA INVERSIONES S.A.S. a
	realizar el cambio de fuente de pago de mi obligación PERSONAL.</FONT></FONT></P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.2in; margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<OL START=2>
	<LI><P ALIGN=JUSTIFY STYLE="margin-right: -0.16in; margin-bottom: 0in; line-height: 100%">
	<FONT FACE="Arial, serif"><FONT SIZE=2>La deducción de nómina se
	suspenderá cuando como empleado presente paz y salvo de la deuda
	expedido por VICTORIA INVERSIONES S.A.S.</FONT></FONT></P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; line-height: 100%">
 
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; line-height: 100%">
<BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; line-height: 100%">
<BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2>_____________________________</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2>FIRMA </FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2>NOMBRE Y APELLIDOS
(COMPLETOS): ____________________________________________</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.1in; margin-right: -0.16in; line-height: 100%">
<FONT FACE="Arial, serif"><FONT SIZE=2>C.C. No.
__________________________ de
___________________________________________</FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%"><BR>
</P>
</BODY>
</HTML>